/* General styling */
body {
	background-color: #A49BC5;
	background-color: #E3DCEE;
	padding: 2% 10% 2% 10%;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

/* class added when a section needs to clear 2 floating items */
.clr {
	clear: both;
}

.back {
	background-color: #C4AECC;
}

.content {
	margin: 3% 10% 5% 10%;
}

/* border at the bottom of each section */
.section {
	border-bottom: 4px solid #E3DCEE;
}

h1 {
	text-align: center;
	font-size: 64px;
}

h2 {
	text-align: center;
	font-size: 38px;
}

p {
	padding-bottom: 1%;
}

/* Menu area */
.title {
	padding-top: 2%;
}

header {
	background-color: #7D5BB3;
}

footer {
	background-color: #7D5BB3;
	text-align: center;
	padding: 1.5% 5% 1.5% 5%;
}


ul {
	padding: 1% 1% 1% 1%;
	list-style-type: none;
	text-align: center;
}

li {
	margin: 0 2% 0 2%;
	display: inline;
}


li a {
	font-size: 24px;
	color: white;
	margin-left: 2px;
	text-decoration: none;
	border: 2px solid transparent;
	padding: 0.5% 0.5% 0.5% 0.5%;
}

li a:hover {
	border: 2px solid white;
}

/* intro */

iframe {
	display: block;
	margin-right: auto;
	margin-left: auto;
}



/* history section */
.his {
	overflow: hidden;
}

.content .hpara {
	float: left;
	max-width: 58%;
}

.hdog {
	float: right;
}

.hdog-img {
	height: auto;
	width: auto;
	max-width: 300px;
	max-height: 250px;
	margin-bottom: 4%; 
}


/* dog appearance section*/
.apper {
	overflow: hidden;
}

.tbl {
	display: inline-block;
	float: right;
	margin-bottom: 4%;
}


.adog-img {
	float: left;
	position: relative;
	left: 5%
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 25%;
	clear: both;
}

tr, td {
	border: 1px solid white;
	padding-bottom: 2px;
	border-right: 1px solid white;
	border-left: 1px solid white;
	text-align: left;
	font-size: 20px;
}

/* dog coat section (like its fur not dog jackets) */

/* Temperament section */

/* care section */
.bath {
	height: auto;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 65%;
	max-height: 40%;
	margin-bottom: 3%;
}

/* form section */

